<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>

<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink"
                            href="/dashboard">Home
                            </a></div>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" role="form" method="post" action="/add_student"
                        enctype="multipart/form-data">


                        <div id="signupalert" style="display:none" class="alert alert-danger">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="first_name" placeholder="First Name">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="last_name" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="roll_number" class="col-md-3 control-label">Roll_number</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="roll_number" placeholder="roll_number">
                            </div>
                        </div>

                            <div class="form-group">
                                <label for="class" class="col-md-3 control-label">class</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="class">
                                        <option disabled selected value> ---select---- </option>
                                        <% for (i=0; i < dropdownVals.length ; i++) { %>
                                            <option>
                                                <%= dropdownVals[i].cls %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="section" class="col-md-3 control-label">section</label>
                                <div class="col-md-9">
                                    <select class="form-control" name="section">

                                        <option disabled selected value> ----select---- </option>
                                        <% for (i=0; i < dropdownVals.length ; i++) { %>
                                            <option>
                                                <%= dropdownVals[i].sec %>
                                            </option>
                                            <% } %>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="gender" class="col-md-3 control-label">Gender</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="gender" placeholder="gender">
                                </div>
                                </div>
                                <div class="form-group">
                                    <label for="blood_group" class="col-md-3 control-label">Blood group</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="blood_group"
                                            placeholder="blood_group">
                                    </div>
                                    </div>


                                    <div class="form-group">
                                        <label for="email_address" class="col-md-3 control-label">Email_address</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" name="email_address"
                                                placeholder="Email_address">
                                        </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="password" class="col-md-3 control-label">Password</label>
                                            <div class="col-md-9">
                                                <input type="password" class="form-control" name="password"
                                                    placeholder="Password">
                                            </div>
                                        </div>

                                        <div class="col-md-12">
                                            <label for="player-img" class="col-md-3 control-label">Player Image</label>                                            <div class="col-md-9">
                                                <input type="file" name="image" id="image" class="">
                                            </div>
                                        </div>



                                        <div class="form-group">

                                            <div class="col-md-offset-4 col-md-12">
                                                <button id="btn-signup" type="submit" class="btn btn-info"><i
                                                        class="icon-hand-right"></i> &nbsp Sign
                                                    Up</button>


                                            </div>
                                        </div>




                    </form>
                </div>
            </div>


        </div>
    </div>

</body>

</html>