<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
   <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    
</head>
<body>
    <div class="container col-sm-12" id="mainform">
            <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                                                           
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="panel-title">Sign Up</div>
                            <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">home</a></div>
                        </div> 
                        <div class="panel-body" >
                            <form class="form-horizontal" role="form" method="post" action="/mark_table">
                              
                                <div id="signupalert" style="display:none" class="alert alert-danger">
                                    <p>Error:</p>
                                    <span></span>
                                </div>
                                <div class="form-group">
                                    <label for="student_id" class="col-md-3 control-label">id</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="student_id" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Exam" class="col-md-3 control-label">Exam</label>
                                    <div class="col-md-9">
                                        <select id="Exam" name="Exam" class="form-control" required>
                                          
                                            <option selected disabled>Choose position</option>
                                            
                                            <option>mid tearm</option>
                                            <option>Half yearly</option>
                                            <option>Quarterly </option>
                                            <option>Annual</option>
                                            
                                            
                                        </select>
                                        </div>
                                      </div>
                                <div class="form-group">
                                    <label for="English" class="col-md-3 control-label">English</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="English" placeholder="English">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="Tamil" class="col-md-3 control-label">Tamil</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Tamil" placeholder="Tamil">
                                    </div>
                                </div>
                                                                                                <div class="form-group">
                                    <label for="Maths" class="col-md-3 control-label">Maths</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Maths" placeholder="Maths">
                                    </div>
                                </div>
                                                                                                <div class="form-group">
                                    <label for="Science" class="col-md-3 control-label">Science</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Science" placeholder="Science">
                                    </div>
                                </div>
                                <div class="form-group">
                                         <label for="Social_Science" class="col-md-3 control-label">Social Science</label>
                                    <div class="col-md-9">
                                        <input type="Social_Science" class="form-control" name="Social_Science" placeholder="Social_Science">
                                    </div>
                                </div>
                                
                            
 
                                <div class="form-group">
                                    <!-- Button -->                                       
                                    <div class="col-md-offset-3 col-md-9">
                                        <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> Add </button>
                                        
                                    </div>
                                </div>
                                <div class="form-group">
                                  <!-- Button -->                                       
                                  <div class="col-md-offset-3 col-md-9">
                                
                               
                              </div>
                            </form>
                         </div>
                    </div>
              
                
         </div>
    </div>
   
</body>
</html>

