<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    
  </head>
  <body>
   

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
   
    <div class="container bootdey flex-grow-1 container-p-y">
        <% if (locals.getDetails) { %>
                <div class="media align-items-center py-3 mb-3">
                
                    <% getDetails.forEach((sub)=> { %>
                    <img src="/assets/img/<%= sub.image %>" style="max-width:10%" class="img-thumbnail alt="" class="d-block ui-w-100 rounded-circle">
                  <div class="media-body ml-4">
                  
                    <h4 class="font-weight-bold mb-0"><%= sub.first_name %>  <%= sub.last_name %> </h4>
                    <div class="text-muted mb-2">Roll number: <%= sub.roll_number %></div>
                  
                   
                   
                    
                  </div>
                </div>
                
                <div class="card mb-4">
                  <div class="card-body">
                    <table class="table user-view-table m-0">
                      <tbody>
                        <tr>
                          <td>first Name:</td>
                          <td><%= sub.first_name %></td>
                        </tr>
                        <tr>
                          <td>Last Name:</td>
                          <td><%= sub.last_name %></td>
                        </tr>
                        <tr>
                            <td>Roll Number:</td>
                            <td><%= sub.roll_number %></td>
                          </tr>
                        <tr>
                          <td>Gender:</td>
                          <td><%= sub.gender %></td>
                        </tr>
                        <tr>
                            <td>class:</td>
                            <td><%= sub.class %></td>
                          </tr>
                          <tr>
                            <td>section:</td>
                            <td><%= sub.section %></td>
                          </tr>
                        <tr>
                          <td>Email:</td>
                          <td><%= sub.email_address %></td>
                        </tr>
                        <tr>
                          <td>Blood group:</td>
                          <td><%= sub.blood_group %></td>
                        </tr>
                      </tbody>
                    </table>
                    <style>body{
                        margin-top:20px;
                        background: #f5f5f5;
                    }
                    
                    .ui-w-100 {
                        width: 50px !important;
                        height: 20;
                    }
                    
                    .card {
                        background-clip: padding-box;
                        box-shadow: 0 1px 4px rgba(24,28,33,0.012);
                    }
                    
                    .user-view-table td:first-child {
                        width: 9rem;
                    }
                    .user-view-table td {
                        padding-right: 0;
                        padding-left: 0;
                        border: 0;
                    }
                    
                    .text-light {
                        color: #babbbc !important;
                    }
                    
                    .card .row-bordered>[class*=" col-"]::after {
                        border-color: rgba(24,28,33,0.075);
                    }    
                    
                    .text-xlarge {
                        font-size: 170% !important;
                    }
                    </style>
                  </div>
                  
                  <hr class="border-light m-0">
                  <div class="table-responsive">
                    <table class="table card-table m-0">
                      <tbody>
                       
                            <tr>
                              <th scope="col">Exam</th>
                                <th scope="col">English</th>
                                <th scope="col">Tamil</th>
                                <th scope="col">Maths</th>
                                <th scope="col">Science</th>
                                <th scope="col">Social_Science</th>
                                <th scope="col">Action</th>
                     </tr>
                        <tbody>
                          <td>
                            <%=sub.Exam %>

                        </td>
                        
                             
                                  <td>
                                      <%=sub.English %>
      
                                  </td>
                                  <td>
                                      <%=sub.Tamil %>
      
                                  </td>
                                  <td>
                                      <%=sub.Maths %>
      
                                  </td>
                                  <td>
                                      <%=sub.Science %>
      
                                  </td>
                                  <td>
                                      <%=sub.Social_Science %>
      
                                  </td>
                                  <td>
                                    <a href="/editMark/<%= sub.id %>" target="_blank" rel="noopener"
                                      class="btn btn-sm btn-success">Edit</a>
    
                                </td>
      
                                 
      
                              </tr>
                              <% }) %>
                      </tbody>
                  </table>
                  <% }%>
              
      
                     
                   
                  </div>
                </div>
    
    
                  </div>
                </div>
    
              </div>
    </main>

  
</body>

</html>
    

   