<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>


   
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">welcome</a>
        <ul class="navbar-nav">
            
            <li class="nav-item"></li>>
            <a class="nav-link" href="/marks&details/<%= sub.id %>">logout</a>
            </li>
            <li class="nav-item"></li>>
            <a class="nav-link" href="/stdlogout">logout</a>
            </li>
        </ul>
    </nav>



    <div class="container-fluid" style="margin-top:90px"></div>
    <style type="text/css">
        body {
            font-size: 18px;
            font-family: 'Open Sans', sans-serif;
            text-align: center;
            color: black;
            background-size: 100%;
            padding: 0;
        }

        .mytable {
            border: solid 1px #DDEEEE;
            border-collapse: collapse;
            border-spacing: 0;
            width: 80%;
        }

        .mytable thead th {
            background-color: #DDEFEF;
            border: solid 1px #DDEEEE;
            color: #336B6B;
            /*padding: 30px;*/
            text-align: center;
            vertical-align: middle;
        }

        .mytable tbody td {
            border: solid 1px #DDEEEE;
            color: #333;
            padding: 30px;
        }




        h1 {
            background-color: rgb(169, 200, 214);
            text-align: center;
            color: #fbfffb;
            font-variant: small-caps
        }
    </style>

    </div>
    <div class="row justiofy-content-center">
        <div class="col-auto">

            <% if (locals.getDetails) { %>
                <table class="mytable" align="center">
                    <table class="table table-responsive">
                        <thead class="thead-dark">

                            <table class="mytable" align="center">
                                <thead>

                                    <tr>
                                        <th><u>Subjects</u><br><br><br></th>
                                        <th><u>MARKS</u><br><br><br></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% getDetails.forEach((sub)=> { %>
                                        <tr>
                                            
                                            <th align="left">id<br><br></th>
                                            <th align="left" width=35%;>
                                                <%= sub.student_id %><br> <br>
                                            </th>

                                        </tr>
                                        <tr>
                                            <th align="left">English<br><br></th>
                                            <th align="left" width=35%;>
                                                <%= sub.English %><br> <br>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th align="left">tamil<br><br></th>
                                            <th align="left" width=35%;>
                                                <%= sub.Tamil %><br> <br>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th align="left">maths<br><br></th>
                                            <th align="left" width=35%;>
                                                <%=sub.Maths %><br> <br>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th align="left">science<br><br></th>
                                            <th align="left" width=35%;>
                                                <%= sub.Science %><br> <br>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th align="left">social_science<br><br></th>
                                            <th align="left" width=35%;>
                                                <%= sub.Social_Science %><br> <br>
                                            </th>
                                        </tr>

                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                            <% }%>

        </div>
    </div>

    </form>
    </div>
    </div>


    </div>
    </div>


</body>

</html>