<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
        <a class="navbar-brand" href="#">welcome</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/add_student">Add Student</a>
            </li>
            
           
            <li class="nav-item"></li>
            <a class="nav-link" href="/logout">logout</a>
            </li>
        </ul>
    </nav>


    <form name="form1" method="post" action="/dashboards">
        <div class="container-fluid" style="margin-top:80px"></div>


        <div class="panel-body">


            <div class="table-wrapper">

                <style type="text/css">
                    table.center {

                        margin-left: auto;
                        margin-right: auto;
                    }

                    table {
                        border: 2px solid rgb(10, 9, 10);
                        border-collapse: collapse;
                    }
                    .user-view-table td:first-child {
                        width: 9rem;
                    }
                    .user-view-table td {
                        padding-right: 0;
                        padding-left: 0;
                        border: 0;
                    }
.player-img {
        width: 40px;
        height: 40px;
    }
    body {
  background-color: rgb(219, 219, 219)
}
td {
  text-align: center;
}

                    h1 {
                        background-color: rgb(169, 200, 214);
                        text-align: center;
                        color: #fbfffb;
                        font-variant: small-caps
                    }
                </style>


    </form>
    <form name="form1" method="post" action="/search/"></form>
    <div class="col-md-3">
       
            <div class="input-group mb-3">
                <input type="text" class="form-control" name="search" placeholder="search...."
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <input type="submit" class="form-control btn btn-primary" name="submit" placeholder="filter">
                </div>
            </div>



        </div>
        <div class="card mb-4">
            <div class="card-body">
              <table class="table user-view-table m-0">

                <% if (locals.getDetails) { %>
                    <hr class="border-light m-0">
                    <div class="table-responsive">
                      <table class="table card-table m-0">

                            <tr>
                                <th scope="col">id</th>
                                <th scope="col">Image</th>
                                <th scope="col">First_name</th>
                                <th scope="col">Last_name</th>
                                <th scope="col">Roll-number</th>
                                <th scope="col">class</th>
                                <th scope="col">section</th>
                                <th scope="col">gender</th>
                                <th scope="col">Blood-group</th>
                                <th scope="col">email_address</th>
                                <th scope="col">teacher_id</th>
                                <th scope="col">Action</th>
                                <th scope="col">add marks</th>
                                <th scope="col">Profile </th>
                            </tr>
                        </thead>
                        <tbody>

                            <% getDetails.forEach((sub,index)=> { %>
                                <tr>
                                    <td scope="row">
                                        <%= sub.id %>
                                    </td>
                                    <td><img src="/assets/img/<%= sub.image %>" class="rounded-circle player-img" alt=""></td>
                                    <td>
                                        <%= sub.first_name %>
                                    </td>
                                    <td>
                                        <%= sub.last_name %>
                                    </td>
                                    <td>
                                        <%= sub.roll_number %>
                                    </td>
                                    <td>
                                        <%= sub.class %>
                                    </td>
                                    <td>
                                        <%= sub.section %>
                                    </td>
                                    <td>
                                        <%=sub.gender %>
                                    </td>
                                    <td>
                                        <%= sub.blood_group %>
                                    </td>
                                    <td>
                                        <%= sub.email_address %>
                                    </td>
                                    <% test.forEach((sub,index)=> { %>
                                    <td>
                                        <%= sub.user_name %>
                                    </td>
                                    <% }) %>
                                     <td>
                                        <a href="/edit/<%= sub.id %>"  
                                            class="btn btn-sm btn-success">Edit</a>
                                        <a href="/delete/<%= sub.id %>" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                    <td>
                                        <a href="/addMarks" target="_blank" rel="noopener"
                                            class="btn btn-sm btn-success" > Add mark </a>
                                       
                                    </td>
                                    <td>
                                        <a href="/marks&details/<%= sub.id %>" target="_blank" rel="noopener"
                                            class="btn btn-sm btn-success" > view </a>
                                       
                                    </td>

                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                    <% }%>

            </div>
        </div>

        </form>
    </div>
    </div>


    </div>
    </div>


</body>

</html>