<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Sample Site</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>

<body>
  <div class="container col-sm-12" id="mainform">
    
    <div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign Up</div>
          <div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/">Sign
              In</a></div>
        </div>
        <div class="panel-body">
          <form class="form-horizontal" role="form" method="post" action="/teacher_signin"
            onSubmit="return checkblank(this);">

            <div id="signupalert" style="display:none" class="alert alert-danger">
              <p>Error:</p>
              <span></span>
            </div>

            <div class="form-group">
              <label for="user_name" class="col-md-3 control-label">User Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="user_name" placeholder="user Name">
              </div>
            </div>

            <div class="form-group">
              <label for="gender" class="col-md-3 control-label">Gender</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="gender" placeholder="gender">
              </div>
            </div>

            <div class="form-group">
              <label for="subject" class="col-md-3 control-label">Subject</label>
              <div class="col-md-9">
                  <select id="subject" name="subject" class="form-control" required>
                    
                      <option selected disabled>Choose position</option>
                      
                      <option>english</option>
                      <option>Tamilk</option>
                      <option>Maths</option>
                      <option>Science</option>
                      <option>Social-Science</option>
                      
                  </select>
                  </div>
                </div>

            <div class="form-group">
              <label for="email_address" class="col-md-3 control-label">Email_address</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="email_address" placeholder="Email_address">
              </div>
            </div>
            <div class="form-group">
              <label for="password" class="col-md-3 control-label">Password</label>
              <div class="col-md-9">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
            </div>
            <div class="form-group">
              <label for="is_admin" class="col-md-3 control-label">Is_admin</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="is_admin" placeholder="is_admin">
              </div>
            </div>

            <div class="form-group">
              <!-- Button -->
              <div class="col-md-offset-3 col-md-9">
                <button id="btn-signup" type="submit" class="btn btn-info"><i class="icon-hand-right"></i> &nbsp Sign
                  Up</button>

              </div>
            </div>




          </form>
        </div>
      </div>


    </div>
  </div>

</body>

</html>




