<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>

<body>
    <div class="container col-sm-12" id="mainform">
        <div id="signupbox" style=" margin-top:100px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">EDIT</div>

                </div>

                <p>
                    <%=(typeof alertMsg!='undefined' )? alertMsg:''%>
                </p>
                <form action="<%= (typeof editData!='undefined')?'/edits/'+editData.id:'/dashboard' %>" method="POST"
                    enctype="multipart/form-data">



                    <div class="panel-body">
                        <div class="form-group">
                            <label for="first_name" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="first_name" required
                                    value="<%=(typeof editData!='undefined')? editData.first_name:''%>">
                            </div>


                            <div class="form-group">
                                <label for="last_name" class="col-md-3 control-label">Last Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="last_name" required
                                        value="<%=(typeof editData!='undefined')? editData.last_name:''%>">
                                </div>
                            </div>
                            <label for="roll_number" class="col-md-3 control-label">Roll number</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="roll_number" required
                                    value="<%=(typeof editData!='undefined')? editData.roll_number:''%>">
                            </div>
                           
                        </div>

                        <div class="form-group">
                            <label for="gender" class="col-md-3 control-label">Gender</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="gender" required
                                    value="<%=(typeof editData!='undefined')? editData.gender:''%>">
                            </div>

                            <label for="blood_group" class="col-md-3 control-label">Blood group</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="blood_group" required
                                    value="<%=(typeof editData!='undefined')? editData.blood_group:''%>">
                            </div>


                            <div class="form-group">
                                <label for="email_address" class="col-md-3 control-label">Email_address</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="email_address" required
                                        value="<%=(typeof editData!='undefined')? editData.email_address:''%>">
                                </div>

                                <div class="form-group">
                                    <label for="password" class="col-md-3 control-label">Password</label>
                                    <div class="col-md-9">
                                        <input type="text" name="password" class="form-control" placeholder="password"
                                            required value="<%=(typeof editData!='undefined')? editData.password:''%>">
                                    </div>





                                    <div class="form-group">
                                        <!-- Button -->
                                        <div class="col-md-offset-3 col-md-9">
                                            <button type="submit" class="btn btn-info"><i class="icon-hand-right"></i>
                                                update</button>


                                        </div>
                                    </div>


                                </div>
                </form>
            </div>
        </div>


    </div>
    </div>

</body>

</html>