<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sample Site</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
    <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>

</head>

<body>
    <div class="container col-sm-12" id="mainform">
        <div  style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">EDIT</div>

                </div>
                <div class="panel-body">
                    <p>
                        <%=(typeof alertMsg!='undefined' )? alertMsg:''%>
                    </p>
                    <form action="<%= (typeof editData!='undefined')?'/editMark/'+editData.student_id:'/editMark/:id' %>" method="POST"  > 


                        <div class="form-group">
                            <label for="English" class="col-md-3 control-label">English</label>
                            <div class="col-md-9">
                                <input type="text" class="form-control" name="English" required
                                    value="<%=(typeof editData!='undefined')? editData.English:''%>">
                            </div>

                            <div class="form-group">
                                <label for="Tamil" class="col-md-3 control-label">Tamil</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Tamil" required
                                        value="<%=(typeof editData!='undefined')? editData.Tamil:''%>">
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="Maths" class="col-md-3 control-label">Maths</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" name="Maths" required value="<%=(typeof editData!='undefined')? editData.Maths:''%>" >
                                </div>
                            </div>
                            <div class=" form-group">
                                    <label for="Science" class="col-md-3 control-label">Science</label>
                                    <div class="col-md-9">
                                        <input type="text" class="form-control" name="Science" prequired value="<%=(typeof editData!='undefined')? editData.Science:''%>" >
                                </div>
                            </div>
                            <div class=" form-group">
                                        <label for="Social_Science" class="col-md-3 control-label">Social
                                            Science</label>
                                        <div class="col-md-9">
                                            <input type="Social_Science" class="form-control" name="Social_Science" required value="<%=(typeof editData!='undefined')? editData.Social_Science:''%>" >
                                </div>
                            </div>




                            <div class=" form-group">
                                            <!-- Button -->
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="submit" class="btn btn-info"><i
                                                        class="icon-hand-right"></i>
                                                    update</button>


                                            </div>
                                        </div>


                                    </div>
                    </form>
                </div>
            </div>


        </div>
    </div>

</body>

</html>